.socials {
  display: flex;
  gap: 0.7rem;
  // margin-top: 1rem;

  a {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    @include center;
    transition: all 0.3s;

    i {
      transition: all 0.3s;
      font-size: 1.2rem;
      color: var(--color-primary);
    }

    &:hover {
      background-color: var(--color-primary);

      i {
        color: var(--color-white);
      }
    }
  }
}

.cards__wrapper {
  &_4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  &_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}

.hoverable {
  overflow: hidden;
  position: relative;
  border-radius: 1.5rem;
  img {
    transition: all 0.3s;
    @include fullImg;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  .cards__wrapper {
    &_4,
    &_3 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.2rem;
    }
  }
}
