//  ____________________________________________________Gilroy
/* Gilroy Thin */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Gilroy UltraLight */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Gilroy Light */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Gilroy Regular */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Gilroy Medium */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Gilroy SemiBold */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Gilroy ExtraBold */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Gilroy Black */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* Gilroy Heavy (optional, same as Black) */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 950;
  font-style: italic;
}

//  ____________________________________________________Releway

/* Raleway Thin */
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Raleway ExtraLight */
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Raleway Light */
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Raleway Regular */
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Raleway Medium */
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Raleway SemiBold */
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Raleway Bold */
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Raleway ExtraBold */
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Raleway Black */
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../../css/fonts/Raleway/Raleway-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

//______________________________________________________Optima Nova

/* OptimaNovaLTPro Regular */
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Demi */
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProDemi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProDemiItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProBlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* Condensed variants */
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProCondensed.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
}
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProBoldCond.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProDemiCond.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-stretch: condensed;
}
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProMediumCond.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: condensed;
}

/* Titling */
@font-face {
  font-family: "Optima nova LT Pro";
  src: url("../../css/fonts/OptimaNova/OptimaNovaLTProTitlingInit.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-variant: small-caps;
}
